.card2 {
  display: flex;
  flex-direction: column;
  width: 250px;
  overflow: hidden;
  background-color: #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: 2vh 3vw;
}

.poster2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: hidden;
}

.poster2 > img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.details2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  text-align: start;
  padding: 5%;
}

.removeWatchList {
  justify-content: flex-end;
}

.details2-title {
  display: flex;
  justify-content: space-between;
}

.removeWatchList button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.removeWatchList img {
  height: 20px;
  width: 20px;
}

.details2 h3 {
  font-size: 0.9em;
  margin: 1px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details2-plot {
  display: flex;
  width: 100%;
}

.details2 p {
  font-size: 0.7em;
  margin: 3% 0 0;
  word-wrap: break-word;
}
