.details-container {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 20px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
  background-color: #151515;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 30px;
}

.details-poster {
  margin-right: 3%;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.details-poster > img {
  height: 100%;
  max-height: 500px; 
  max-width: 250px;
  width: auto;
  object-fit: contain; 
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow: hidden;
  color: aliceblue;
}
