.heading-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: auto;
  border: 1px solid;
  padding: 2%;
  margin-left: 4.5vw;
  margin-top: 1vh;

}

.heading-container >h1> span {
  color: red;
}
